code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editorInput {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;;
}

.editorPlaceholder {
  font-size: 15px;
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 8px;
  left: 28px;
  right: 28px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.rtl .editorPlaceholder {
  left: auto;
}


.editorShell {
  margin: 20px auto;
  border-radius: 2px;
  max-width: 1100px;
  min-height: 300px;
  color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 1.7;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.editorShell .editor-container {
  background: #fff;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.editorShell .editor-container.tree-view {
  border-radius: 0;
}

.editorShell .editor-container.plain-text {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editorScroller {
  min-height: 150px;
  border: 0;
  flex-grow: 1;
  display: flex;
  position: relative;
  outline: 0;
  z-index: 0;
  overflow: hidden;
  resize: vertical;
}

.editor {
  flex: auto;
  position: relative;
  resize: vertical;
  z-index: -1;
}

.contentEditable {
  border: 0;
  font-size: 15px;
  display: block;
  position: relative;
  outline: 0;
  padding: 8px 28px 40px;
  min-height: 150px;
}
